node_modules/
*.test.cjs
*.svg.png
preview*.png
cand*.png
cand*.svg
b_*.svg
b_*.png
g_*.svg
g_*.png
v_*.svg
v_*.png
grid_preview.png
borders_preview.png
views.png
/world.geo.js
app.test.cjs
artifact.test.cjs
